/* GLOBAL STYLES */
* {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #212121;
  font-weight: lighter;
  font-size: 1em;
  color: #212121;
}

a {
  color: #FF1744;
}
a:hover, a:active, a:focus {
  text-decoration: none;
  color: #FFDE03;
  outline: none;
}

.container-fluid.main-body {
  padding: 0;
}

#name-logo {
  line-height: 50px;
}
.navbar-default {
  background-color: white;
  border: none;
  padding: 1em 0;
}

/* nav bar links */
.nav-bar-nav {
  padding: 0 100px; /* change for responsive */
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
.nav-bar-list {
  height: 56px;
  padding: 0;
  margin: 0;
}
.nav-bar-link {
  line-height: 56px;
  display: inline-block;
  margin: 0 16px;
  float: right;
}

.nav-bar-link > a {
  color: #FF5252;
  font-size: 14px;
}

.nav-bar-link > a:hover,
.nav-bar-link  > a:focus,
.nav-bar-link > a:active {
  color: #FFDE03;
  text-decoration: none;
}

#nav-bar-link-name {
  float: left;
  margin: 0 16px 0 0 ;
}

.very-large-headings {
  padding: 4px 0;
  font-size: 72px;
}

.large-headings {
  padding: 4px 0;
  font-weight: lighter;
}


.medium-headings {
  padding: 0 0 4px;
  font-size: 32px;
  font-weight: lighter;
}

.medium-text {
  font-size: 18px;
  opacity: 0.87;
  line-height: 26px;
}

.container-fluid {
  padding: 0;
}

.intro-wrapper {
  padding: 6.5em 100px 1em;
}

.project-section-wrapper {
  padding: 16px 100px;
}

i {
  color: #FF5252;
  padding-right: 16px;
}

i:hover,
i:active,
i:focus {
  color: #FFDE03;
  cursor: pointer;
  outline: none;
}

i.non-link-icons {
  padding: 0;
  color: #9E9E9E;
}

i.non-link-icons:hover,
i.non-link-icons:active,
i.non-link-icons:focus {
  color: #9E9E9E;
  cursor: default;
}

.portfolio-tab-bar {
  text-align: center;
  margin: 8px 0 24px 0;
  color: grey;
}

#design-tab-bar,
#art-tab-bar {
  margin: 56px 0 24px 0;
}

.portfolio-tab-bar .project-tab-bar-link {
  color: grey;
  text-decoration: underline;
}

a.project-tab-bar-current {
  color: #FF5252;
  font-weight: bold;
  text-decoration: underline;
}

.portfolio-tab-bar .project-tab-bar-link:hover,
 .portfolio-tab-bar .project-tab-bar-link:active,
 .portfolio-tab-bar .project-tab-bar-link:focus {
  color: #FF5252;
  font-weight: bold;
}

/* lines up titles with rows*/
.row {
  margin: 0;
}

.project, .design-project, .art-project {
  border: 20px solid white;
  padding: 0;
}

.project-image-wrapper {
  background: blue;
}

.project-information {
  padding: 36px 0;
}

.project-title {
  margin: 16px 0 0;
  font-size: 24px;
  font-weight: lighter;
}

.project-description {
  font-size: 16px;
  line-height: 20px;
  margin: 8px 0 16px;
  color: black;
  font-weight: lighter;
}

/* --------------------------------------------- */
/* Project Pages */

/* Project Buttons */
.fa-long-arrow-left {
  margin: 16px 0 0 56px;
}

.p-buttons-wrapper {
  text-align: center;
}

.p-btn {
  margin: 4px 4px 0;
  padding: 4px 16px;
  border-radius: 100px;
  background-color: white;
  border: 1px solid #FF5252;
  color: #FF5252;
  font-size: 14px;
  font-family: 'Helvetica', sans-serif;
}

.p-btn i {
  color: #FF5252;
  padding-right: 4px;
}

.p-btn:hover, .p-btn:focus, .p-btn:active {
  background-color: #FF5252;
  outline: none;
  color: white;
}

.p-btn:hover i, .p-btn:active i, .p-btn:focus i {
  color: white;
}

.p-btn:hover a, .p-btn:active a, .p-btn:focus a {
  color: white;
}


.p-name {
  font-size: 28px;
  text-align: center;
  margin: 8px 0;
}

.p-heading {
  font-size: 16px;
  font-weight: lighter;
  line-height: 24px;
  opacity: 0.87;
}

.p-section {
  padding: 0;
}

.p-section-heading {
  font-size: 20px;
  padding: 24px 0 8px;
}

.p-section-text {
  font-size: 16px;
  line-height: 28px;
  opacity: 0.87;
}

.p-section-img {
  display: block;
  width: 100%;
  height: auto;
  margin: 16px auto;
}

.footer-text {
  text-align: center;
  font-size: 14px;
  color: rgba(0,0,0,0.56);
  margin: 16px 0 36px;
}

.highlight {
  font-weight: bold;
}

.highlight-teal {
  color: #00BFA5;
}

.highlight-purple {
  color: #7C4DFF;

}

.highlight-pink {
  color: #FF5252;
  text-decoration: underline;
}

.highlight-blue {
  color: #00B0FF;
}

.highlight-pink:hover {
  color: #FFDE03;
}

@media only screen and (max-width : 768px) {

  .project {
    border: 0;
  }
  .project-information {
    padding: 1em 0 6em 0;
  }

}

@media only screen and (max-width : 576px) {

  .very-large-headings {
    padding: 4px 0;
    font-size: 48px;
  }

  .large-headings {
    padding: 4px 0;
    font-weight: lighter;
    font-size: 24px;
  }


  .medium-headings {
    padding: 0 0 4px;
    font-size: 20px;
    font-weight: lighter;
  }

  .medium-text {
    font-size: 16px;
    line-height: 20px;
  }

  .intro-wrapper {
    padding: 4em 16px 1em; /* change for responsive */
  }

  .project-section-wrapper {
    padding: 1em 16px; /* change for responsive */
  }

  .portfolio-tab-bar {
    text-align: center;
    margin: 8px 0 24px 0;
    color: grey;
  }

  .nav-bar-nav {
    padding: 0 16px;
  }

  .nav-bar-link {
    line-height: 56px;
    display: inline-block;
    margin: 0 8px;
    float: none;
  }



  .p-cover-image {
    margin: 0 16px;
  }

  .p-section-heading {
    margin: 0;
  }

  .p-section-text {
    margin: 0;
  }

  .footer-text {
    margin: 8px 0 16px;
  }
}
